.wcn_edit_section > div
{
    width: 250px;
}

/*Slider*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*Notify Settings*/

.sn-edit-button
{
    display: inline-block;
    cursor: pointer;
}

.sn-edit-button img
{
    height: 25px;
}

#saveModal
{
    opacity: 1;
}

/*Editor*/

.sn_style_editor .wcn_selected
{
    border: red !important;
    border-width: 2px !important;
    border-style: dashed !important;
}



#sn_settings .inside{
        display: flex; 
}

.notify-editor > div > label
{
    width: 120px;
}

.notify-editor > div > input
{
    width: 370px;
}

.notify-editor > div 
{
    margin-top: 7px;
}

.tool-box
{
    background-color: #d6d3d3;
    margin-left: 40px;
    border: black;
    border-width: 1px;
    border-style: dotted;
}

#sn_settings .head
{
    padding-top: 3px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    background-color: #999e9e;
}

.dragitems
{
    margin-left: 120px;

}

.dragitems span
{
    border-color: black;
    border-width: 1px;
    border-style: groove;
    border-radius: 4px;
    padding: 1.5px;
    display: inline-block;
    color: white;
    margin-right: 5px;
}

.dragitems span img
{
    width: 15px;
    display: inline-block;

}

.dragitems span p
{
    color: black;
    display: inline-block;
    margin: 0;
    font-size: 12px;

}

.select-box-container
{
    display: inline-block;
}

.head > span
{
    font-weight: 600;
}

/*WorkflowEditor*/
.condition-body
{
  display: flex;
  border: gray;
  border-style: double;
}

.condition-body .column {
  margin-right: 10px;
  margin-left: 10px;
}

.entry-element {
  width: 150px;
}

.add-element {
  width: 150px;
}

.center
{
	margin-left: auto;
    margin-right: auto;
}

#workingarea
{
	width: 70%;
	float: left;
}

#toolarea
{
	width: 30%;
	float: left;
	display: grid;
}

#toolarea .section
{
	display: block;
}

.droparea
{
	width: fit-content;
}

.wfeElement
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	cursor: pointer;
}


.vl {
    border-left: 2px solid green;
    height: 20px;
    width: 1px;
}

.hl {
    height: 5px;
	background: green;
	display: none;
}

.inner-frame {
  position: relative;
}

.inner-frame:hover > .delete-icon
{
  opacity: 1;
}

.delete-icon {
  top: -10px;
  right: -10px;
  position: absolute;
  opacity: 0;
  transition: .5s ease;
}

.delete-icon img {
  height: 22px;
  width: 22px;
}



.action
{
    border: black;
    border-width: 3px;
    border-style: double;
 
    padding: 3px;
}

.wfeElement .notify
{
	display: inline-block;
}

.plus
{
    border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px
}

.ui-state-hover .hl
{
	display: block;
}

.notify-drag
{
	display: inline-grid;
	cursor: pointer;
}

.notify-drag
{
	transform:scale(0.7);
	transform-origin: top left;
	margin-bottom: -10px;
}

.loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }