.notify-editor .panel-body > div > label
{
    width: 120px;
}

.notify-editor .panel-body > div > input
{
    width: 370px;
}

.notify-editor .panel-body > div 
{
    margin-top: 7px;
}

.notify-preview {
  min-width: 400px;
  margin-left: 35px;
    
}

.select-box-container .form-control {
    width: unset;
    display: inline;
}