.wcn-notify{
    opacity: 1;
    background-color: #ba9033b8;
   /*transition: visibility 0s, opacity 3.5s linear , bottom 1.5s linear !important;*/
   display: flex !important;
   box-shadow: 3px -3px 10px #1111118f;
}

.wcn-notify-cookie {
	margin-bottom:35px !important;
}

.wcn-notify-icon{
	width: 20%;
}

.wcn-notify-message{
	width: 75%;
	padding-left: 7px;
}

.wcn-notify-close{
	width: 5%;
}

.wcn-notify .message{
	font-weight: 600;
	font-size: 17px;
}

.wcn-notify .title{
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 7px;
}

.wcn-notify .link{
	cursor: pointer;
	color:#2c3ac4; 
}


.wcn-notify img{
	max-width:55px
}

.wcn-notify-visible{
	visibility: visible;
	opacity: 1;
	bottom:20px !important;
}

.wcn-notify-message a
{
	display: inline-block;
	white-space: pre;
}

.wcn-notify-message p
{
	white-space: pre-wrap;
}

/*WorkflowEditor*/
.center
{
	margin-left: auto;
    margin-right: auto;
}

#workingarea
{
	width: 70%;
	float: left;
}

#toolarea
{
	width: 30%;
	float: left;
}

.droparea
{
	width: fit-content;
}

.wfeElement
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	cursor: pointer;
}

.wfeElement div
{
	width: auto;
}

.vl {
    border-left: 2px solid green;
    height: 20px;
}

.hl {
    height: 5px;
	width: 100px;
	background: green;
	display: none;
}


.action
{
    border: black;
    border-width: 3px;
    border-style: double;
 
    padding: 3px;
}

.wfeElement .notify
{
	display: inline-block;
}

.plus
{
    border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px
}

.ui-state-hover .hl
{
	display: block;
}

.notify-drag
{
	display: inline-grid;
	cursor: pointer;
}

.notify-drag
{
	transform:scale(0.7);
	transform-origin: top left;
	margin-bottom: -10px;
}